<a href="https://colab.research.google.com/github/seonmia/MRC_KoBigBird_KoELECTRA/blob/main/Levenshtein_Distance_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 예측 데이터_CSV와 답안 데이터_CSV 준비하기

'baseline.csv'파일을 업로드해준다.

In [ ]:
import pandas as pd

baseline.csv를 기준으로 10개의 데이터만 뽑아낸다.

In [ ]:
baseline = pd.read_csv('baseline.csv')

In [ ]:
train = baseline.head(10)
train

,Id,Predicted
0,d14cb73158624cf094c546d856fd3c80,뉴
1,906631384e91493ebe1c7f34aea6f241,"의도적으로 여객기 하강버튼을 눌렀고, 여객기의 하강속도가 빨라졌다”며 “사고 직전 ..."
2,35e61dcb479643448a2cb7d326ae50a6,미국
3,075e761b370040cb9041eecd39afc27c,“톱 50 가운데 22개가 IT 기업
4,e67ed38f3dd944be94d5b4c53731f334,백혈병
5,80cacfdfe76442b0b39568e8b193d066,36.5% 감소했다. 작년 같은 달의 1조7939억원과 비교해도 22.9% 줄어든 ...
6,78a80cca941c46379a5c65b2f1392f7c,25일 코레일에 ‘각종 개발사업에 대한 출자 관련 업무절차 알림’이라는 공문을 통해...
7,5c19b9781f8a4f0faa9045274c38a8b4,"숙박시설에서는 마스크 미 착용시, 체크인이 불가하며, 비 접촉식 체온 확인 후 입실..."
8,d2844b7141cb4a2594d433e9c1e5cd0c,37
9,be39b91f52a04b0aaafc96ff505cb2fc,독일군

In [ ]:
target = train.copy()

In [ ]:
target

,Id,Predicted
0,d14cb73158624cf094c546d856fd3c80,뉴
1,906631384e91493ebe1c7f34aea6f241,"의도적으로 여객기 하강버튼을 눌렀고, 여객기의 하강속도가 빨라졌다”며 “사고 직전 ..."
2,35e61dcb479643448a2cb7d326ae50a6,미국
3,075e761b370040cb9041eecd39afc27c,“톱 50 가운데 22개가 IT 기업
4,e67ed38f3dd944be94d5b4c53731f334,백혈병
5,80cacfdfe76442b0b39568e8b193d066,36.5% 감소했다. 작년 같은 달의 1조7939억원과 비교해도 22.9% 줄어든 ...
6,78a80cca941c46379a5c65b2f1392f7c,25일 코레일에 ‘각종 개발사업에 대한 출자 관련 업무절차 알림’이라는 공문을 통해...
7,5c19b9781f8a4f0faa9045274c38a8b4,"숙박시설에서는 마스크 미 착용시, 체크인이 불가하며, 비 접촉식 체온 확인 후 입실..."
8,d2844b7141cb4a2594d433e9c1e5cd0c,37
9,be39b91f52a04b0aaafc96ff505cb2fc,독일군

답안 데이터_CSV의 컬럼명을 Predicted => Answer로 바꿔준다.

In [ ]:
target.rename(columns={'Predicted': 'Answer'}, inplace=True)
target

,Id,Answer
0,d14cb73158624cf094c546d856fd3c80,뉴
1,906631384e91493ebe1c7f34aea6f241,"의도적으로 여객기 하강버튼을 눌렀고, 여객기의 하강속도가 빨라졌다”며 “사고 직전 ..."
2,35e61dcb479643448a2cb7d326ae50a6,미국
3,075e761b370040cb9041eecd39afc27c,“톱 50 가운데 22개가 IT 기업
4,e67ed38f3dd944be94d5b4c53731f334,백혈병
5,80cacfdfe76442b0b39568e8b193d066,36.5% 감소했다. 작년 같은 달의 1조7939억원과 비교해도 22.9% 줄어든 ...
6,78a80cca941c46379a5c65b2f1392f7c,25일 코레일에 ‘각종 개발사업에 대한 출자 관련 업무절차 알림’이라는 공문을 통해...
7,5c19b9781f8a4f0faa9045274c38a8b4,"숙박시설에서는 마스크 미 착용시, 체크인이 불가하며, 비 접촉식 체온 확인 후 입실..."
8,d2844b7141cb4a2594d433e9c1e5cd0c,37
9,be39b91f52a04b0aaafc96ff505cb2fc,독일군

Id, Predicted 컬럼을 가진 예측데이터와 Id, Answer 컬럼을 가진 답안 데이터를 만들었다.

혹여나 두 데이터 사이에 정렬된 순서가 다를수 있으니 Id 기준으로 병합한다.

In [ ]:
df_join = pd.merge(train, target, on='Id')
df_join

,Id,Predicted,Answer
0,d14cb73158624cf094c546d856fd3c80,뉴,뉴
1,906631384e91493ebe1c7f34aea6f241,"의도적으로 여객기 하강버튼을 눌렀고, 여객기의 하강속도가 빨라졌다”며 “사고 직전 ...","의도적으로 여객기 하강버튼을 눌렀고, 여객기의 하강속도가 빨라졌다”며 “사고 직전 ..."
2,35e61dcb479643448a2cb7d326ae50a6,미국,미국
3,075e761b370040cb9041eecd39afc27c,“톱 50 가운데 22개가 IT 기업,“톱 50 가운데 22개가 IT 기업
4,e67ed38f3dd944be94d5b4c53731f334,백혈병,백혈병
5,80cacfdfe76442b0b39568e8b193d066,36.5% 감소했다. 작년 같은 달의 1조7939억원과 비교해도 22.9% 줄어든 ...,36.5% 감소했다. 작년 같은 달의 1조7939억원과 비교해도 22.9% 줄어든 ...
6,78a80cca941c46379a5c65b2f1392f7c,25일 코레일에 ‘각종 개발사업에 대한 출자 관련 업무절차 알림’이라는 공문을 통해...,25일 코레일에 ‘각종 개발사업에 대한 출자 관련 업무절차 알림’이라는 공문을 통해...
7,5c19b9781f8a4f0faa9045274c38a8b4,"숙박시설에서는 마스크 미 착용시, 체크인이 불가하며, 비 접촉식 체온 확인 후 입실...","숙박시설에서는 마스크 미 착용시, 체크인이 불가하며, 비 접촉식 체온 확인 후 입실..."
8,d2844b7141cb4a2594d433e9c1e5cd0c,37,37
9,be39b91f52a04b0aaafc96ff505cb2fc,독일군,독일군

Predicted 컬럼과 Answer 컬럼사이에 편집거리함수를 적용해서 새로운 시리즈를 만든다.

In [ ]:
def edit_distance(row):
    s = row[1]
    t = row[2]
    m = len(s)+1
    n = len(t)+1
    D = [[0]*m for _ in range(n)]
    D[0][0] = 0
    
    for i in range(1,m):
        D[0][i] = D[0][i-1] + 1
    
    for j in range(1,n):
        D[j][0] = D[j-1][0] + 1
    
    for i in range(1,n):
        for j in range(1,m):
            cost = 0

            if s[j-1] != t[i-1]:
                cost = 1
            
            D[i][j] = min(D[i][j-1] + 1,D[i-1][j] + 1, D[i-1][j-1] + cost)
    
    return D[n-1][m-1]

In [ ]:
result = df_join.apply(edit_distance, axis = 1)

예측 데이터_CSV와 답안 데이터_CSV가 똑같아서 0이 나온다.

In [ ]:
result

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
dtype: int64

편집거리의 평균이 최종 점수이다. 여기서는 당연히 0이다.

In [ ]:
result.sum()/len(result)

0.0

예측 데이터_CSV를 공란으로 만들어서 다시 점수를 내보자

In [ ]:
df_join["Predicted"] = ""

In [ ]:
df_join

,Id,Predicted,Answer
0,d14cb73158624cf094c546d856fd3c80,,뉴
1,906631384e91493ebe1c7f34aea6f241,,"의도적으로 여객기 하강버튼을 눌렀고, 여객기의 하강속도가 빨라졌다”며 “사고 직전 ..."
2,35e61dcb479643448a2cb7d326ae50a6,,미국
3,075e761b370040cb9041eecd39afc27c,,“톱 50 가운데 22개가 IT 기업
4,e67ed38f3dd944be94d5b4c53731f334,,백혈병
5,80cacfdfe76442b0b39568e8b193d066,,36.5% 감소했다. 작년 같은 달의 1조7939억원과 비교해도 22.9% 줄어든 ...
6,78a80cca941c46379a5c65b2f1392f7c,,25일 코레일에 ‘각종 개발사업에 대한 출자 관련 업무절차 알림’이라는 공문을 통해...
7,5c19b9781f8a4f0faa9045274c38a8b4,,"숙박시설에서는 마스크 미 착용시, 체크인이 불가하며, 비 접촉식 체온 확인 후 입실..."
8,d2844b7141cb4a2594d433e9c1e5cd0c,,37
9,be39b91f52a04b0aaafc96ff505cb2fc,,독일군

In [ ]:
result = df_join.apply(edit_distance, axis = 1)
result

0      1
1    184
2      2
3     20
4      3
5    414
6    487
7    591
8      2
9      3
dtype: int64

In [ ]:
result.sum()/len(result)

170.7

## 하나의 함수로 만들어 보자면

In [ ]:
from pprint import pprint
def evaluate_score(train_file, answer_file):
    """사용법: evaluate_score(예측파일_CSV의 경로명<문자열>, 답안파일_CSV의 경로명<문자열>)  
    단, 예측파일의 컬럼명은 Id, Predicted, 답안파일의 컬럼명은 Id, Answer로 세팅되어 있어야 한다.
    """
    train = pd.read_csv(train_file)
    target = pd.read_csv(answer_file)
    df_join = pd.merge(train, target, on='Id')
    def edit_distance(row):
        s = row['Predicted']
        t = row['Answer']
        m = len(s)+1
        n = len(t)+1
        D = [[0]*m for _ in range(n)]
        D[0][0] = 0
        
        for i in range(1,m):
            D[0][i] = D[0][i-1] + 1
        
        for j in range(1,n):
            D[j][0] = D[j-1][0] + 1
        
        for i in range(1,n):
            for j in range(1,m):
                cost = 0

                if s[j-1] != t[i-1]:
                    cost = 1
                
                D[i][j] = min(D[i][j-1] + 1,D[i-1][j] + 1, D[i-1][j-1] + cost)
        
        return D[n-1][m-1]
    result = df_join.apply(edit_distance, axis = 1)
    return result.sum()/len(result)

이전에 사용한 train 데이터 프레임과 target 데이터 프레임을 csv로 만들어서 테스트해본다

In [ ]:
train.to_csv('train.csv')
target.to_csv('target.csv')

현재 train 데이터프레임과 target 데이터프레임을 살펴보자

In [ ]:
train

,Id,Predicted
0,d14cb73158624cf094c546d856fd3c80,뉴
1,906631384e91493ebe1c7f34aea6f241,"의도적으로 여객기 하강버튼을 눌렀고, 여객기의 하강속도가 빨라졌다”며 “사고 직전 ..."
2,35e61dcb479643448a2cb7d326ae50a6,미국
3,075e761b370040cb9041eecd39afc27c,“톱 50 가운데 22개가 IT 기업
4,e67ed38f3dd944be94d5b4c53731f334,백혈병
5,80cacfdfe76442b0b39568e8b193d066,36.5% 감소했다. 작년 같은 달의 1조7939억원과 비교해도 22.9% 줄어든 ...
6,78a80cca941c46379a5c65b2f1392f7c,25일 코레일에 ‘각종 개발사업에 대한 출자 관련 업무절차 알림’이라는 공문을 통해...
7,5c19b9781f8a4f0faa9045274c38a8b4,"숙박시설에서는 마스크 미 착용시, 체크인이 불가하며, 비 접촉식 체온 확인 후 입실..."
8,d2844b7141cb4a2594d433e9c1e5cd0c,37
9,be39b91f52a04b0aaafc96ff505cb2fc,독일군

In [ ]:
target

,Id,Answer
0,d14cb73158624cf094c546d856fd3c80,뉴
1,906631384e91493ebe1c7f34aea6f241,"의도적으로 여객기 하강버튼을 눌렀고, 여객기의 하강속도가 빨라졌다”며 “사고 직전 ..."
2,35e61dcb479643448a2cb7d326ae50a6,미국
3,075e761b370040cb9041eecd39afc27c,“톱 50 가운데 22개가 IT 기업
4,e67ed38f3dd944be94d5b4c53731f334,백혈병
5,80cacfdfe76442b0b39568e8b193d066,36.5% 감소했다. 작년 같은 달의 1조7939억원과 비교해도 22.9% 줄어든 ...
6,78a80cca941c46379a5c65b2f1392f7c,25일 코레일에 ‘각종 개발사업에 대한 출자 관련 업무절차 알림’이라는 공문을 통해...
7,5c19b9781f8a4f0faa9045274c38a8b4,"숙박시설에서는 마스크 미 착용시, 체크인이 불가하며, 비 접촉식 체온 확인 후 입실..."
8,d2844b7141cb4a2594d433e9c1e5cd0c,37
9,be39b91f52a04b0aaafc96ff505cb2fc,독일군

값이 동일하므로 스코어는 0을 기대해본다

In [ ]:
evaluate_score('train.csv', 'target.csv')

0.0